.panel {
    width: 100%;
}

.panel .header {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    background-color: #ccc;
    line-height: 30px;
    width: 100%;
    cursor: pointer;
}

.panel .header::before {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    font-size: 15px;
    content: "+";
    vertical-align: text-top;
    display: inline-block;
    float: left;
    width: 20px;
    margin-right: 3px;
    background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
  }

  .panel .header.collabrate::before {
    content: "-";
  }

.panel .content {
    width: 100%;
}

.panel .content.collabrate {
    height: 0px;
    transition: height .3s;
    visibility: hidden;
}